.chat {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  }
.chatInput {
  width: 90%;
  margin-right: 10px;
  display: inline;
}

.chatInputBox {
  width: 100%;
  align-items: center;
  &:focus {
    border: black !important;
  }
}

.chatBox {
  background-color: #fff;
  padding: 10px;
  height: 100%;
  
}
.userChatPhoto {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.fa-location-arrow {
  color: $electricGreen;
}
.sendButton {
  display: inline;
  margin: 0;
  width: 0 !important;
  padding: 0 !important;
}