.c-video {
  align-content: center;
}

.principalContent {
  color: white;
}

.chat {
  background-color: #fff;
  height: 100%;
  width: 100%;
  list-style: none;
}

.comment {
  font-size: 20px;
  width: 100%;
  color: black;
}

.userName {
  font-weight: bold;
}

.imgUserMePage {
  width: 100%;
  height: 100%;
}

.meScreenButton {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

@media only screen and (max-width: 1291px) {
  .c-video,
  .chat {
    display: block;
  }
}
